table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
  }
  .containerButtons{
  display: flex;
  flex-direction: column;
  }
  #categoryName{
    word-wrap: break-word;
    text-align:center;
    width: min-content;
    white-space: break-space;
  }
  #btnCreate
  {
    margin: 50px;
   float:right;
  }
  .btn-act{
    width:min-content;
    height:29px;
    padding-top: 0;  
  }