  

<div class="container">
    <a id='btnCreate' class="btn btn-primary" routerLink="/{{entity}}/Create">Create</a>
    <h3 style="font-weight: 900;">{{tableTitle}}</h3>

    
<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th scope="col" (click)="sortData('categoriesCount')">Category Count <span *ngIf="sortedColumn === 'categoriesCount'">{{sortDirection === 'asc' ? '▲' : '▼'}}</span></th>
            <th scope="col" (click)="sortData('enabled')">enabled <span *ngIf="sortedColumn === 'enabled'">{{sortDirection === 'asc' ? '▲' : '▼'}}</span></th>
            <th scope="col" (click)="sortData('id')">id <span *ngIf="sortedColumn === 'id'">{{sortDirection === 'asc' ? '▲' : '▼'}}</span></th>
            <th scope="col" (click)="sortData('price')">price <span *ngIf="sortedColumn === 'price'">{{sortDirection === 'asc' ? '▲' : '▼'}}</span></th>
            <th scope="col" (click)="sortData('name')">name <span *ngIf="sortedColumn === 'name'">{{sortDirection === 'asc' ? '▲' : '▼'}}</span></th>
            <th scope="col" (click)="sortData('quantity')">quantity <span *ngIf="sortedColumn === 'quantity'">{{sortDirection === 'asc' ? '▲' : '▼'}}</span></th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of dataSource">
            <td>{{element.categoriesCount}}</td>
            <td>{{element.enabled}}</td>
            <td>{{element.id}}</td>
            <td>{{element.price}}</td>
            <td>{{element.name}}</td>
            <td>{{element.quantity}}</td>
            <td>
                <a class="btn btn-primary btn-act" routerLink='/Product/{{element.productIdUrl}}'>View </a>
                <a class="btn btn-success btn-act" href='/Product/Edit/{{element.productIdUrl}}'>Edit </a>
                <a class="btn btn-danger btn-act" (click)="onDeleteProduct(element.id)">
                Delete </a>
            </td>
        </tr>
    </tbody>
</table> 

</div>

