table {
    width: 100%;
    overflow-x: auto;
    /* overflow-y: hidden; */
    min-width: 500px;
  }
    #productName{
    word-wrap: break-word;
    text-align:center;
    width: min-content;
    white-space: break-space;
  }  

  .containerButtons{
    display: flex;
    }
  #btnCreate
  {
    margin: 50px;
   float:right;
  }
  /* .btn-act{
    width:min-content;
    height:29px;
    padding-top:-10px;
  }  */