
<ng-template 
class="container" [ngIf]="this.router.url =='/Product'"  >
<!-- [ngIfElse]="productDetails" -->
<app-table></app-table>
</ng-template>

<ng-template #productCreate [ngIf]="this.router.url == '/Product/Create'">
    <app-create-product></app-create-product>
</ng-template>

<ng-template #productCreate [ngIf]="this.router.url.includes('/Product') && this.activatedRoute.snapshot.paramMap.get('id')!=null">
<app-item [pId]="this.pId"></app-item>
</ng-template>

<ng-template [ngIf]="this.router.url.includes('/Product/Edit')">
Edito un producto!
</ng-template>