
<ng-template 
class="container" [ngIf]="this.router.url =='/Product'"  >
<!-- [ngIfElse]="productDetails" -->
<app-table [tableTitle]="'Products Table'" [entity]="'Product'"></app-table>
</ng-template>

<ng-template #productCreate [ngIf]="this.router.url == '/Product/Create'">
    <app-create-product [operation]="this.create"></app-create-product>
</ng-template>

<ng-template #productCreate [ngIf]="this.router.url.includes('/Product') && this.activatedRoute.snapshot.paramMap.get('id')!=null && !this.router.url.includes('/Product/Edit')">
<app-item [pId]="this.pId"></app-item>
</ng-template>

<ng-template [ngIf]="this.router.url.includes('/Product/Edit')">
    
    <app-create-product [operation]="this.update"></app-create-product>
</ng-template>